@use 'sass:map';
@use '../../styles/variables';

$borderHeight: 3px;
$titleHeight: map.get(variables.$fontSizes, 'h1');

.section-title {
    & h1 {
        padding-top: calc(50vh - #{variables.$headerHeight} - #{$titleHeight});
        position: relative;
    }

    &__border {
        border-bottom: $borderHeight solid variables.$green;
        display: block;
        height: $borderHeight;
        max-width: 36px;
        width: 75%;
    }
}
