@use 'sass:map';
@use '../../styles/variables';

$borderHeight: .1875rem;
$desktopTitleHeight: map.get(variables.$desktopFontSizes, 'h1');
$mobileTitleHeight: map.get(variables.$mobileFontSizes, 'h1');

.section-title {
    & h1 {
        position: relative;
    }

    &__border {
        border-bottom: $borderHeight solid variables.$green;
        display: block;
        height: $borderHeight;
        max-width: 2.25rem;
        padding-top: .1875rem;
        width: 75%;
    }
}
