@use 'sass:map';
@use 'variables';

.h-link,
.h-link-like {
    background-color: transparent;
    border: 0;
    color: variables.$green;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        color: variables.$lightGrey;
        transition: .125s;
        transition-timing-function: cubic-bezier(.645, .045, .355, 1);
    }
}

.h-h1 {
    font-family: variables.$headerFontFamily;
    font-size: map.get(variables.$desktopFontSizes, 'h1');
    font-weight: 500;
    line-height: 1;
}

.h-h2 {
    font-family: variables.$headerFontFamily;
    font-size: map.get(variables.$desktopFontSizes, 'h2');
    font-weight: 500;
    line-height: 1;
}

.h-h3 {
    font-family: variables.$headerFontFamily;
    font-size: map.get(variables.$desktopFontSizes, 'h3');
    font-weight: 500;
    line-height: 1;
}

.h-h4 {
    font-family: variables.$headerFontFamily;
    font-size: map.get(variables.$desktopFontSizes, 'h4');
    font-weight: 500;
    line-height: 1;
}

.h-h5 {
    font-family: variables.$headerFontFamily;
    font-size: map.get(variables.$desktopFontSizes, 'h5');
    font-weight: 500;
    line-height: 1.5;
}

.h-h6 {
    font-family: variables.$headerFontFamily;
    font-size: map.get(variables.$desktopFontSizes, 'h6');
    font-weight: 500;
    line-height: 1.5;
}

.l-padding-horz-sm {
    padding-left: .625rem !important;
    padding-right: .625rem !important;
}

.l-padding-horz-md {
    padding-left: .938rem !important;
    padding-right: .938rem !important;
}

.l-padding-horz-lg {
    padding-left: 1.875rem !important;
    padding-right: 1.875rem !important;
}

.l-padding-horz-xl {
    padding-left: 2.1875rem !important;
    padding-right: 2.1875rem !important;
}

.l-padding-vert-sm {
    padding-bottom: .625rem !important;
    padding-top: .625rem !important;
}

.l-padding-vert-md {
    padding-bottom: .938rem !important;
    padding-top: .938rem !important;
}

.l-padding-vert-lg {
    padding-bottom: 2.1875rem !important;
    padding-top: 2.1875rem !important;
}

.l-margin-top-sm {
    margin-top: 1.875rem !important;
}

.l-margin-btm-lg {
    margin-bottom: 1.875rem !important;
}

.l-margin-btm-xl {
    margin-bottom: 4.375rem !important;
}

.l-margin-btm-xxl {
    margin-bottom: 35rem !important;
}

.l-margin-horz-sm {
    padding-bottom: .625rem !important;
    padding-top: .625rem !important;
}

@media only screen and (max-width: 31.25em) {
    .l-padding-horz-lg {
        padding-left: .938rem !important;
        padding-right: .938rem !important;
    }

    .l-padding-vert-lg {
        padding-bottom: .721875rem !important;
        padding-top: .721875rem !important;
    }

    .l-margin-btm-xxl {
        margin-bottom: 17.5rem !important;
    }

    .h-h1 {
        font-size: map.get(variables.$mobileFontSizes, 'h1');
    }

    .h-h2 {
        font-size: map.get(variables.$mobileFontSizes, 'h2');
    }

    .h-h3 {
        font-size: map.get(variables.$mobileFontSizes, 'h3');
    }

    .h-h4 {
        font-size: map.get(variables.$mobileFontSizes, 'h4');
    }

    .h-h5 {
        font-size: map.get(variables.$mobileFontSizes, 'h5');
    }

    .h-h6 {
        font-size: map.get(variables.$mobileFontSizes, 'h6');
    }
}
