@use 'sass:map';
@use 'variables';

.h-link,
.h-link-like {
    background-color: transparent;
    border: 0;
    color: variables.$green;
    cursor: pointer;
    display: inline-block;

    &:hover,
    &:focus,
    &:active {
        color: variables.$lightGrey;
        transition: .125s;
    }
}

.h-h1 {
    font-family: variables.$headerFontFamily;
    font-size: map.get(variables.$fontSizes, 'h1');
    font-weight: 500;
    line-height: 1;
}

.h-h2 {
    font-family: variables.$headerFontFamily;
    font-size: map.get(variables.$fontSizes, 'h2');
    font-weight: 500;
    line-height: 1;
}

.h-h3 {
    font-family: variables.$headerFontFamily;
    font-size: map.get(variables.$fontSizes, 'h3');
    font-weight: 500;
    line-height: 1;
}

.h-h4 {
    font-family: variables.$headerFontFamily;
    font-size: map.get(variables.$fontSizes, 'h4');
    font-weight: 500;
    line-height: 1;
}

.h-h5 {
    font-family: variables.$headerFontFamily;
    font-size: map.get(variables.$fontSizes, 'h5');
    font-weight: 500;
    line-height: 1.5;
}

.h-h6 {
    font-family: variables.$headerFontFamily;
    font-size: map.get(variables.$fontSizes, 'h6');
    font-weight: 500;
    line-height: 1.5;
}

.l-padding-horz-sm {
    padding-left: .625em !important;
    padding-right: .625em !important;
}

.l-padding-horz-md {
    padding-left: .938em !important;
    padding-right: .938em !important;
}

.l-padding-horz-lg {
    padding-left: 1.875em !important;
    padding-right: 1.875em !important;
}

.l-padding-vert-sm {
    padding-bottom: .625em !important;
    padding-top: .625em !important;
}

.l-padding-vert-md {
    padding-bottom: .938em !important;
    padding-top: .938em !important;
}

.l-padding-vert-lg {
    padding-bottom: 2.1875em !important;
    padding-top: 2.1875em !important;
}

.l-margin-btm-lg {
    margin-bottom: 1.875em !important;
}

.l-margin-btm-xl {
    margin-bottom: 4.375em !important;
}

.l-margin-btm-xxl {
    margin-bottom: 70em !important;
}
