@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$green: #75cf00;
$lightBlack: #111;
$lightGrey: #5f6368;
$grey: #232327;
$darkGrey: #202024;
$white: #e8eaed;

$contentWidth: 1280px;

$fontFamily: 'Roboto Condensed', sans-serif;
$fontSizes: (
    'h1': 1.875em,
    'h2': 1.5em,
    'h3': 1.25em,
    'h4': 1em,
    'h5': .75em,
    'h6': .5em,
);
