@use 'sass:color';
@use 'sass:map';
@use '../../styles/variables';

$desktopHeaderHeight: variables.$desktopHeaderHeight;
$mobileHeaderHeight: variables.$mobileHeaderHeight;

.header {
    background-color: rgba(variables.$darkGrey, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 0;
    min-height: $desktopHeaderHeight;
    position: fixed;
    top: calc(0rem - #{$desktopHeaderHeight} - 1.875rem);
    transition: .3s;
    transition-timing-function: map.get(variables.$animationTiming, 'cubic-bezier');
    width: 100%;
    z-index: 1;

    &__container {
        align-items: flex-end;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    &__logo {
        align-items: center;
        cursor: pointer;
        display: flex;
        height: 100%;

        &:hover svg path {
            color: variables.$green;
            fill: variables.$green;
            transition: .2s;
            transition-timing-function: map.get(variables.$animationTiming, 'cubic-bezier');
        }
    }

    &__nav {
    }

    &--visible {
        top: 0;
    }

    &--shadowed {
        background-color: rgba(variables.$darkGrey, .95);
        box-shadow: 0 -13.75rem 1.125rem 14rem color.scale(variables.$darkGrey, $lightness: -20%);
    }
}

@media only screen and (max-width: 31.25em) {
    .header {
        min-height: $mobileHeaderHeight;
        top: calc(0rem - #{$mobileHeaderHeight} - 2.5rem);

        &__container {
            align-items: center;
        }

        &--visible {
            top: 0;
        }
    }
}
