.social-icon {
    display: flex;
    position: relative;

    &--horizontal {
        align-items: center;
        flex-direction: column;
    }

    &--vertical {
        align-items: center;
        justify-content: flex-end;
    }

    &__label {
        cursor: pointer;
        font-size: .875rem;
        position: absolute;
        z-index: 0;

        &--vertical {
            animation: label-slide-vert .3s ease-in;
            padding-right: .3125rem;
            right: 25px;
            white-space: nowrap;
        }

        &--horizontal {
            animation: label-slide-horz .3s ease-in;
            padding-top: .3125rem;
            top: 25px;
        }
    }

    &__link {
        display: flex;
    }
}

@keyframes label-slide-horz {
    0% {
        opacity: 0;
        top: -3.125rem;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes label-slide-vert {
    0% {
        opacity: 0;
        right: -3.125rem;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
