.social-media-icon {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__label {
        animation: label-slide .2s ease-in;
        font-size: .875rem;
        padding-right: .3125rem;
        position: relative;
        z-index: -1;
    }

    &__icon {
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: center;
    }

    &__link {
        display: flex;
    }
}

@keyframes label-slide {
    0% {
        opacity: 0;
        right: -3.125rem;
    }

    65% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        right: 0;
    }
}

@media only screen and (max-width: 31.25em) {
    .social-media-icon {
        &__label {
            display: none;
        }
    }
}
