@use 'sass:color';
@use 'sass:map';
@use '../../styles/variables';

.footer {
    background-color: variables.$darkGrey;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: center;
    min-height: variables.$footerHeight;

    &__container {
        align-items: flex-end;
        box-sizing: border-box;
        display: flex;

        justify-content: space-between;
        width: 100%;

        &--vertical {
            flex-direction: row;
        }

        &--horizontal {
            flex-direction: column;
        }
    }

    &__copyright {
        align-items: center;
        display: flex;
        flex-direction: column;
        font-family: variables.$fontFamily;
        margin: 0 auto;
    }

    &__social-media-icons {
        align-items: flex-end;
        bottom: 0;
        display: flex;
        justify-content: center;
        opacity: 1;

        &--vertical {
            animation: social-icons 1s ease-in;
            flex-direction: column;
            position: fixed;
            right: .3125rem;
        }

        &--horizontal {
            animation: social-icons 1s ease-in;
            flex-direction: row;
            margin: 0 auto;
            padding-bottom: .625rem;
            position: inherit;
        }
    }
}

@keyframes social-icons {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

// @media only screen and (max-width: 31.25em) {
//     .footer {
//         &__container {
//             flex-direction: column;
//         }

//         &__social-media-icons {
//             flex-direction: row;
//             margin: 0 auto;
//             padding-bottom: .625rem;
//             position: inherit;
//         }
//     }
// }
