@use 'sass:color';
@use 'sass:map';
@use '../../styles/variables';

.footer {
    background-color: variables.$darkGrey;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: center;
    min-height: variables.$footerHeight;

    &__container {
        align-items: flex-end;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    &__copyright {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    &__social-media-icons {
        align-items: flex-end;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        right: 5px;
    }
}

@media only screen and (max-width: 31.25em) {
    .footer {
        &__container {
            flex-direction: column;
        }

        &__social-media-icons {
            flex-direction: row;
            margin: 0 auto;
            padding-bottom: .625rem;
            position: inherit;
        }
    }
}
