<html>
	<head>
		<title>RedMustard.io - Apps</title>
		<link rel="stylesheet" href="../../static/css/main.css">
		<!-- <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">  -->
		<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet"> 
	</head>
	<body>
		<header>
			<section id="nav-title">
				<a href="/rmio/">RedMustard.io</a>
			</section>

			<nav>
				<a href="/rmio/apps">Apps</a>
				<a href="/rmio/audio">Audio</a>
				<a href="/rmio/about">About</a>
				<a href="/rmio/contact">Contact</a>
			</nav>
		</header>

	<!-- 	<div id="left-bar">
		</div> -->


		<main>
			<section id="left-content">
				<article class="content">
					<h1>RedMustard.io Applications</h1>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis ipsum pellentesque, pretium libero in, interdum arcu. Sed ex sapien, facilisis a ante a, scelerisque volutpat augue. Praesent id dui non risus auctor pretium ac ut sem. Fusce imperdiet ligula tortor. Suspendisse venenatis leo metus, sit amet placerat turpis luctus a. Sed pretium felis nec vulputate fringilla. Duis pulvinar nunc est, nec convallis dui suscipit in. Nam eros sem, interdum pretium tempus nec, pharetra id diam. Pellentesque sagittis accumsan congue. Nulla gravida ultricies elit, ac dignissim neque laoreet eget.
					
					<br />
					<br />
					<br />
					
					Proin erat purus, egestas a commodo in, porttitor nec massa. Fusce eu felis a orci fermentum volutpat nec vitae sapien. Nulla eget maximus eros. In hac habitasse platea dictumst. Nunc et mauris eu turpis dapibus dapibus. Nulla placerat, enim at gravida tincidunt, libero lorem fringilla ligula, id rutrum sem ipsum in turpis. Maecenas volutpat sapien quis accumsan tempus. Duis eget gravida quam. 
					
					<br />
					<br />
					<br />
					
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis ipsum pellentesque, pretium libero in, interdum arcu. Sed ex sapien, facilisis a ante a, scelerisque volutpat augue. Praesent id dui non risus auctor pretium ac ut sem. Fusce imperdiet ligula tortor. Suspendisse venenatis leo metus, sit amet placerat turpis luctus a. Sed pretium felis nec vulputate fringilla. Duis pulvinar nunc est, nec convallis dui suscipit in. Nam eros sem, interdum pretium tempus nec, pharetra id diam. Pellentesque sagittis accumsan congue. Nulla gravida ultricies elit, ac dignissim neque laoreet eget.
					
					<br />
					<br />
					<br />
					
					Proin erat purus, egestas a commodo in, porttitor nec massa. Fusce eu felis a orci fermentum volutpat nec vitae sapien. Nulla eget maximus eros. In hac habitasse platea dictumst. Nunc et mauris eu turpis dapibus dapibus. Nulla placerat, enim at gravida tincidunt, libero lorem fringilla ligula, id rutrum sem ipsum in turpis. Maecenas volutpat sapien quis accumsan tempus. Duis eget gravida quam. 
					
					<br />
					<br />
					<br />
					
					Proin erat purus, egestas a commodo in, porttitor nec massa. Fusce eu felis a orci fermentum volutpat nec vitae sapien. Nulla eget maximus eros. In hac habitasse platea dictumst. Nunc et mauris eu turpis dapibus dapibus. Nulla placerat, enim at gravida tincidunt, libero lorem fringilla ligula, id rutrum sem ipsum in turpis. Maecenas volutpat sapien quis accumsan tempus. Duis eget gravida quam. 
					
					<br />
					<br />
					
					Proin erat purus, egestas a commodo in, porttitor nec massa. Fusce eu felis a orci fermentum volutpat nec vitae sapien. Nulla eget maximus eros. In hac habitasse platea dictumst. Nunc et mauris eu turpis dapibus dapibus. Nulla placerat, enim at gravida tincidunt, libero lorem fringilla ligula, id rutrum sem ipsum in turpis. Maecenas volutpat sapien quis accumsan tempus. Duis eget gravida quam. 
				</article>
			</section>

			<section id="right-content">
				<article class="content">
					<img src="../../static/images/portrait.jpg">
					<br />
					<br />
					Proin erat purus, egestas a commodo in, porttitor nec massa. Fusce eu felis a orci fermentum volutpat nec vitae sapien. Nulla eget maximus eros. In hac habitasse platea dictumst. Nunc et mauris eu turpis dapibus dapibus. Nulla placerat, enim at gravida tincidunt, libero lorem fringilla ligula, id rutrum sem ipsum in turpis. Maecenas volutpat sapien quis accumsan tempus. Duis eget gravida quam.
					<br />
					<br />
					<h4>Email:</h4> 
					<a href="mailto:travis@redmustard.io">travis@redmustard.io</a>
					<br />
					<br />
					<h4>Github:</h4> 
					<a href="http://www.github.com/RedMustard" target="_blank">github.com/RedMustard</a>
				</article>
			<!-- <br style="clear: both;"> -->
			</section>
		</main>

		<footer>
			<section id="footer-links">
				<a href="apps.html">Apps</a> |
				<a href="audio.html">Audio</a> |
				<a href="about.html">About</a> |
				<a href="contact.html">Contact</a>
			</section>

			<section id="footer-copyright">
				&copy; 2017 RedMustard.io
			</section>
		</footer>

	</body>
</html>